.cursor/
.idea/
.vscode/
.DS_Store
Thumbs.db

env/
.venv/
venv/
ENV/
.env.*

infra_logs/
saved_models/
models_ensemble/
resampled_data/
merged_alt_data/
binance_data/
datas/
data/
*.csv
*.parquet
*.h5
*.pkl
*.joblib
*.npz
*.npy
*.zip
*.env

model_config.json
trader_config.json
account_config.json
instrument_config.json
symbol_config.json
symbols.json

/target
**/Cargo.lock
**/Cargo.toml.orig

__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/
.jupyter/
/anaconda_projects/